{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

	<div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1>{{program.title}} - Saison {{season.number}}</h1>
            <p>Catégorie : {{ program.category.name }}</p>
            <h2>Episode N°{{ episode.number }}</h2>
            <p>Description {{episode.synopsis}}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-primary m-t-auto">Voir la fiche</a>
        </div>	
    </div>

    {% if app.user.isVerified %}
        <div class="addComment">
            <h3>Ajouter un commentaire à l'épisode :</h3>
            {{ include('comment/_form.html.twig') }}
        </div>
    {% endif %}

    <div class="viewComments">
        {% for comment in allComments %}
            <div class="comment">
                <h4>De {{ comment.author.username }}</h4>
                <p>{{ comment.comment }} <br>Ma note : {{ comment.rate }}</p>
                {% if is_granted("ROLE_ADMIN") or comment.author == app.user %}
                    {{ include('comment/_delete_form.html.twig') }}
                {%endif%}
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}
