{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

	<div class="media">
        <h1>{{program.title}} - Saison {{season.number}}</h1>
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <p>Catégorie : {{ program.category.name }}</p>

		<div class="media-body">
        <h2>Episode N°{{ episode.number }}</h2>

                <p>Description {{episode.synopsis}}</p>
                <a href="{{ path('program_show', { id: program.id} ) }}">
                    Retour à la page détaillée de la série
                </a>
                <br>

          

            <a href="{{ path('program_index') }}">
                Retour à la liste des programmes
            </a>
	    </div>	
	</div>

		


{% endblock %}
