{% extends 'base.html.twig' %}

{% block title %}Fiche Acteur #{{ actor.id }}
{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="" alt="">
        <div class="media-body">
            <h1 class="mt-0">{{ actor.firstname }} {{ actor.lastname }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center program">
            <p>Au casting des séries suivantes({{ actor.programs|length }}) : </p>
            {% for program in actor.programs %}
                <div class="card col-11 col-sm-5 col-lg-3 col-xxl-2 p-0 m-2">
                    <img src="https://picsum.photos/id/142/800/1200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">{{ program.title }}</h3>
                        <h5>Catégorie :	{{ program.category.name }}</h5>
                        <p class="card-text">Pays : {{program.country}} - Année : {{program.year}}</p>
                        <p class="card-text">{{ program.synopsis }}</p>
                        <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary m-t-auto">Voir la fiche</a>
                    </div>
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>


    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>



{% endblock %}
